body {
    background-color: rgb(108,122,137);
}

/** NavBar Styling **/
#navBar {
    background-color: transparent
}

.navItem {
    color: white;
}

/** NavBar Styling **/

/** MyCourses Page **/
#cardContent {
    background-color: rgb(108,122,137);
}

#myCourses div div md-content {
    background-color: rgb(58,83,155);
}

#myCourses #navBar {
    background-color: rgb(58,83,155); /** Overrides color above **/
}
/** MyCourses Page **/

/** Home Page **/
#homeBackground {
    height:100vh; 
    background: #000 url('/img/home1.jpeg') center center;
    background-size:cover;
    overflow:hidden;
}
#homeBackground #filter{
    height:100vh;
    background-color: rgba(168, 235, 255, 0.6);
}

#homeBackground h1 {
    color: white;
    text-align: center;
}

#homeBackground p {
    color: white;
    text-align: center;
    margin-top: -25px;
}

/** Home Page **/
