body {
    background-color: rgb(191,191,191);
}

/** NavBar Styling **/
#navBar {
    background-color: transparent
}

.navItem {
    color: white;
}

._md-nav-button-text {
    color: rgb(232,126,4) !important;
}

md-nav-ink-bar {
    color: rgb(232,126,4) !important;
    background-color: rgb(232,126,4) !important;
}

/** NavBar Styling **/

/** MyCourses Page **/
#cardContent {
    background-color: rgb(191,191,191);
}

#myCourses div div md-content {
    background-color: rgba(107,185,240, 0.6);
}

#myCourses #navBar {
    background-color: rgba(107,185,240, 0.6); /** Overrides color above **/
}
/** MyCourses Page **/

/** Home Page **/
#homeBackground {
    height:100vh; 
    background: #000 url('/img/home1.jpeg') center center;
    background-size:cover;
    overflow:hidden;
}
#homeBackground #filter{
    height:100vh;
    background-color: rgba(168, 235, 255, 0.6);
}

#homeBackground h1 {
    color: white;
    text-align: center;
}

#homeBackground p {
    color: white;
    text-align: center;
    margin-top: -25px;
}

/** Home Page **/
