<title>Course Tracker</title>
<!--
<link rel="stylesheet" type="text/css" href="/bootstrap-4.0.0-alpha.6-dist/css/bootstrap.min.css"/>
<script src="/bootstrap-4.0.0-alpha.6-dist/js/jquery-3.1.1.min.js"></script>
<script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
<script src="/bootstrap-4.0.0-alpha.6-dist/js/bootstrap.min.js"></script>-->

<!-- AngularJS Libraries -->
<script src="/libs/angular/angular.js"></script>
<script src="../libs/angular-route/angular-route.min.js"></script>
<script src="../libs/angular-animate/angular-animate.js"></script>
<script src="../libs/angular-sanitize/angular-sanitize.js"></script>
<script src="../libs/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<link rel="stylesheet" type="text/css" href="../libs/bootstrap/dist/css/bootstrap.min.css"/>

<!-- AnuglarJS Code -->
<script src="../js/controllers/CoursesController.js"></script>
<script src="../js/appRoutes.js"></script>
<script src="../js/app.js"></script>

<!-- Masonry -->
<script src="../libs/jquery/dist/jquery.min.js"></script>
<script src="../libs/masonry/dist/masonry.pkgd.min.js"></script>