<!DOCTYPE html>
<html>
<head>
    <% include ../templates/header.ejs %>
    <link rel="stylesheet" href="../css/stylesheets/myCourses.css" />
</head>
    
<body ng-app="course-tracker-app">
    
    <% include ../templates/nav.ejs %>
    <!-- use ng-view to generate view, there will be a surrounding div around the whole document-->
    <!-- this surrounding div, will have ng-controller = "" for that page-->
    <!-- event hough two other pages optional, this will make it much more manageable in the long run-->
    <div ng-view></div>
    
</body>
</html>